# Anthony, Crées des api key wit ai pour chaque langue sur le site wit ai.

# Wit.ai API keys 
WIT_API_KEY_ENGLISH=""
WIT_API_KEY_ARABIC=""
WIT_API_KEY_FRENCH=""
WIT_API_KEY_JAPANESE=""


# Gen ai API keys 
OPENAI_API_KEY=""

ANTHROPIC_KeY=API_KEY

